*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Files to ignore
src/main/NDimensionalArray.java
src/main/NDimensionalArrayValueHolder.java
src/main/DiacriticsMain.java
src/main/test.java
